@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div ng-controller="productsController">
    <div>
        <button class="btn btn-info"  onclick="productModal()"><i class="fa fa-plus"></i> New Product</button>
    </div>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in productList">
                <td>{{item.Name}}</td>
            </tr>
        </tbody>
    </table>


    @*---Modal create product*@
    <div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="productModalLabel">Create product</h4>
                </div>
                <div class="modal-body">
                    <form method="post" ng-submit="addProduct()">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <label for="nameProduct" class="control-label">Name</label>
                                <input type="text" class="form-control" id="nameProduct" name="Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="categoryProduct" class="control-label">Category</label>
                                <select ng-repeat="item in categories" class="form-control" name="fk_Category">
                                    <option value="">-- Select Category --</option>
                                    <option value="{{item.Category}}">{{item.Category}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="unitProduct" class="control-label">Unit</label>
                                <select ng-repeat="item in units" class="form-control" name="fk_Unit">
                                    <option value="">-- Select Unit --</option>
                                    <option value="{{item.Unit}}">{{item.Unit}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" name="Status">Disable</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarModalGeneral"><i class="fa fa-plus"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

    function productModal(){
        $('#createProductModal').modal('show');
    }
</script>
}