@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" ng-controller="productsController">
    <a class="btn btn-success pull-left" data-ng-click="open_modal('createProductModal')">
        <i class="fa fa-plus"></i> Add a new Product
    </a>

    <form class="form-inline pull-right">
        <div class="form-group">
            <label class="sr-only">Search</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>

                <input type="text" ng-model="searchTerms" class="form-control" placeholder="Search...">
            </div>
        </div>
    </form>

    <div class="clearfix"></div>
    <br />

    <div class="card">
        <div class="header">
            <h4 class="title">Product List</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table ng-show="loaded == true" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Unit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in productList | filter:searchTerms">
                        <td>{{item.Name}}</td>
                        <td>{{item.Category}}</td>
                        <td>{{item.Unit}}</td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="loaded == false" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>


    @*---Modal create product*@
    <div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="productModalLabel">Create product</h4>
                </div>
                <form name="product" method="post" ng-submit="addProduct()">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">                       
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nameProduct" class="control-label">Name</label>
                            <input type="text" class="form-control" id="nameProduct" data-ng-model="product.Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="categoryProduct" class="control-label">Category</label>
                            <select ng-repeat="item in categories" class="form-control" data-ng-model="product.fk_Category">
                                <option value="">-- Select Category --</option>
                                <option value="{{item.Category}}">{{item.Category}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="unitProduct" class="control-label">Unit</label>
                            <select ng-repeat="item in units" class="form-control" data-ng-model="product.fk_Unit">
                                <option value="">-- Select Unit --</option>
                                <option value="{{item.Unit}}">{{item.Unit}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" data-ng-model="product.Status" data-ng-init="product.Status=true"> Visible
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSaveModal"><i class="fa fa-plus"></i>Add</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>