@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div ng-controller="productsController">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in productList">
                <td>{{item.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>
