@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="categoryController">
    <a class="btn btn-success pull-left" data-ng-click="open_modal('createProductModal')">
        <i class="fa fa-plus"></i> Add a new Category
    </a>

    <form class="form-inline pull-right">
        <div class="form-group">
            <label class="sr-only">Search</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>

                <input type="text" ng-model="searchTerms" class="form-control" placeholder="Search...">
            </div>
        </div>
    </form>

    <div class="clearfix"></div>
    <br />

    <div class="card">
        <div class="header">
            <h4 class="title">Category List</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table ng-show="loaded == true" class="table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in categoryList">
                        <td>{{item.Category}}</td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="loaded == false" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>